html(lang='en')
    head
        title GPS Tracker
        link(rel='stylesheet' href='css/main.css')
        link(rel='stylesheet' href='css/vendor/bootstrap/bootstrap.min.css')
        link(rel='stylesheet' href='css/vendor/plugins/metisMenu/metisMenu.min.css')
        link(rel='stylesheet' href='css/vendor/sb-admin-2.css')
        link(rel='stylesheet' href='css/vendor/font-awesome/css/font-awesome.min.css')

    body(ng-app='app' ng-controller='AppCtrl')
        div(ng-view='')

        script(src="bower_components/jquery/dist/jquery.js")
        script(src="bower_components/angular/angular.js")

        script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js")
        script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js")
        script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js")
        script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js")
        script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js")
        script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js")
        script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js")
        script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js")
        script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js")
        script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js")
        script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js")
        script(src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js")

        script(src="bower_components/angular-resource/angular-resource.js")
        script(src="bower_components/angular-route/angular-route.js")
        script(src="./bower_components/lodash/dist/lodash.min.js")
        script(src="bower_components/angular-google-maps/dist/angular-google-maps.min.js")

        script(src='js/app.js')
        script(src='js/config.js')

        script(src='js/controllers/app-ctrl.js')
        script(src='js/controllers/main.js')
        script(src='js/controllers/dash.js')

        script(src='js/services/api.js')
        script(src='js/services/user.js')

        <!-- sbadmin -->
        script(src='js/vendor/jquery.js')
        script(src='js/vendor/sbadmin/plugins/metisMenu/metisMenu.js')
        script(src='js/vendor/sbadmin/sb-admin-2.js')

